<%= render 'tasks/head', title: 'Tasks' %>

<div id="tasks" class="mt-5">
  <%= render 'tasks/form', task: Task.new %>

  <% @tasks.each do |task| %>
    <%= render 'tasks/task', task: task %>
  <% end %>
</div>

<script id="task-preview" type="text/minimustache">
  <div class="task task-item">
    <span class="task-item--toggle"></span>
    <span class="task-item--text">{{text}}</span>
  </div>
</script>
