<div class="placeholder-wave">
  <div class="row mb-4">
    <div class="col">
      <h2><%= placeholder 'All records' %></h2>
    </div>
    <div class="col-sm-auto">
      <span class="btn placeholder">New record</span>
    </div>
  </div>

  <%= render 'skeletons/table' %>
</div>
