<h2 class="mb-4">
  New project

  <% if up.context[:from_company] %>
    <%= tour_dot do %>
      <p>
        This overlay reuses the form template that is also used for the
        <%= link_to 'Projects', projects_path, 'up-layer': 'root' %> section
        in the main navigation.
      </p>
    <% end %>
  <% end %>
</h2>

<%= render 'form' %>
