//= require unpoly
//= require unpoly-bootstrap4
//= require roboto
//= require roboto-mono

@import 'bootstrap';
@import 'helpers';

@mixin block-spacing {
  margin-top: spacer(3);
  margin-bottom: spacer(3);
}

:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
  --bs-font-monospace: 'Roboto Mono', monospace;
}

a {
  --bs-link-decoration: none;
}

.navbar {
  --bs-navbar-padding-x: 1rem;
}

body {
  margin: 5.5rem spacer(4) 7rem spacer(4);
  overflow-y: scroll;
}

p {
  margin-bottom: 0.8rem;
}

//*:focus {
//  outline: 2px solid orange !important; // Make focus very visible to help test A11Y
//}

.field_with_errors {
  label {
    color: $danger;
  }

  input,
  textarea,
  select {
    border-color: $danger;
  }

  .input-group & {
    flex: 1 1 auto; // Use available space when wrapping a .form-control inside an .input-group;
  }

  &:has(label) {
    display: inline-block;
  }

  &:has(label.d-none) {
    display: none;
  }

}

.form-group {
  margin-bottom: spacer(3);
}

.tasks {
  display: flex;
  gap: spacer(3);
  flex-wrap: wrap;
}

.task {
  flex: 0 0 358px;
  height: 180px;

  &:not(.done) {
    border-color: $info;
  }
  &.done {
    opacity: 0.6;
    .card-text {
      text-decoration: line-through;
    }
  }
}

.fragment-explainer {
  background-color: white;
  padding: 1rem 1.7rem 1.05rem;
  position: fixed;
  z-index: 2500;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-top: 1px solid $gray-500;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 0.6rem 1.7rem;
  flex-wrap: wrap;
  line-height: 1.35;
}
.fragment-explainer--cell {
  flex: 0 0 135px;

  a {
    text-decoration: underline;
  }
}

$tour-dot-color: $green;

.tour-dot {
  margin: 0 0.4rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $tour-dot-color;
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba($tour-dot-color, 0.3);
  font-size: 0;

  &:hover {
    animation: none;
  }
  &[overlay-only] {
    display: none;

    up-modal &,
    up-drawer & {
      display: inline-block;
    }
  }
  &.viewed {
    animation: none;
    filter: grayscale(100%);
    opacity: 0.6;
  }
}

.btn.btn-sm {
  min-width: 50px;
}

$popup-spacing: 12px;

up-popup {
  z-index: 1070;
}

up-popup.tour-hint {
  margin: $popup-spacing;

  code {
    white-space: nowrap
  }
}

up-popup-content {
  line-height: 1.3;

  p {
    margin-bottom: 0.7rem;
  }

  *:last-child {
    margin-bottom: 0;
  }
}


.new-fragment:not(.fragment-explainer):not([up-flashes]) {
  $new-fragment-color: #fc2;
  $new-fragment-opacity: 0.6;

  position: relative;

  &:after {
    transition: all 750ms ease-out;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($new-fragment-color, 0);
    outline: 10px solid rgba($new-fragment-color, 0);
    z-index: 1;
  }

  &.inserted:after {
    background-color: rgba($new-fragment-color, $new-fragment-opacity);
    outline: 10px solid rgba($new-fragment-color, $new-fragment-opacity);
  }
}

#new-version {
  position: fixed;
  top: 0.75rem;
  right: 1rem;
  z-index: 1050;
}

[up-flashes], .flashes-explainer {
  position: fixed;
  top: 0.4rem;
  right: 1rem;
  z-index: 1050;

  .alert {
    padding: 0.5rem 0.7rem;
    margin: 0;
  }
}

.flashes-explainer {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #666;
  border-radius: 0.25rem;

  #new-version:not([hidden]) + & {
    display: none;
  }
}

.placeholder {
  opacity: 0.1;
  border-radius: 15px;
}
